@charset 'utf-8';
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1080px;
    border: solid black 1px;
    margin: 0 auto;
    position: relative;
}
.header{
    height: 178px;
}
.logo{
    height: 130px;
}
.logo h1{
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: -2px;
}
.naver-logo{
    width: 202px;
    height: 57px;
    background-position: 0 0;
    background-image: url(https://s.pstatic.net/static/www/img/2018/sp_main_v180508.png);
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 102%;
    font-size: 2.5em;

}