@charset 'utf-8';
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: none;
    width: 100%;
}
/* 검색창 css */
.search{
    width: 100%;
    height: 100px;
    padding: 0px 15px 10px 15px;
    background-color: rgb(11,200,57);
}
.search>.logo{
    height: 48px;
    position: relative;
}
.search>.input-search{
    height: 40px;
    background-color: white;
    margin-top: 1px;
}
.search>.logo>.ham-menu{
    height: 48px;
    width: 50xp;
    margin-left: -15px;
    position: relative;
    display: inline-block;
}
.search>.logo>.ham-menu>.menu1{
    position: absolute;
    top: 16px;
    left: 14px;
    font-size: 22px;
    color: white;
}
.search>.logo>.ham-menu>.menu1:hover{
    cursor: pointer;
}
.search>.logo>.naver-logo{
    display: inline-block;
    position: absolute;
    left: calc(100% / 2 - 100px);
}
.search>.input-search>.row{
    font-size: 0px;
    display: inline-block;
    float: right;
}
.search>.input-search>.row *{
    font-size: 14px;
}
.search>.input-search>.row>.icon{
    width: 38px;
    height: 40px;
    color: rgb(11,200,57);
}
.search>.input-search>.row>.icon>i{
    font-size: 25px;
    margin: 8px 0 0 7px;
}
.input-search > input{
    width: calc(100% - 130px);
    height: 30px;
    margin: 5px 0 0 10px;
    border: none;
}
/* 메뉴창 css */
.menu{
    width: 100%;
    height: 43px;
    border-bottom: solid 1px rgb(231, 231, 231);
}
.menu>.row{
    font-size: 0px;
}
.menu>.row>*{
    font-size: 14px;
}
.menu>.row>.more{
    width: 42px;
    height: 43px;
    font-size: 20px;
    position: relative;
    float: right;
}
.menu>.row>.more>.plus{
    position: absolute;
    top: 12px;
    left: 15px;
}
.menu>.row>.sub-menu{
    position: absolute;
    height: 43px;
    width: calc( (100% - 42px) / 5);
    text-align: center;
    font-size: 17px;
    padding-top: 8px;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.menu>.row>.sub-menu:nth-child(1){
    left: 0px;
}
.menu>.row>.sub-menu:nth-child(2){
    left: calc( (100% - 42px) / 5);
}
.menu>.row>.sub-menu:nth-child(3){
    left: calc( (100% - 42px) / 5 * 2);
}
.menu>.row>.sub-menu:nth-child(4){
    left: calc( (100% - 42px) / 5 * 3);
}
.menu>.row>.sub-menu:nth-child(5){
    left: calc( (100% - 42px) / 5 * 4);
}
.row>div{
    display: inline-block;
}
.menu>.row>.sub-menu,
.menu>.row>.more{
    cursor: pointer;
}
/* 컨텐츠 박스 위치 조절 */
.contents{
    display: inline-block;
    width: 100%;
    position: absolute;
    background-color: white;
}
.container-contents{
    font-size: 0;
    position: relative;
    background-color: rgb(242, 242, 242);
    padding-top: 10px;
    height: 100vh;
}
.container-contents *{
    font-size: 14px;
}
.contents:nth-child(1){ height: 210px;   }
.contents:nth-child(2){ height: 75px;   }
.contents:nth-child(3){ height: 195px;   }
.contents:nth-child(4){ height: 60px;   }
.contents:nth-child(5){ height: 80px;   }
.contents:nth-child(6){ height: 210px;   }
.contents:nth-child(7){ height: 195px;   }
/* 1단 */
@media (max-width:639px){
    .container-contents{
        height: 1095px;
    }
    .contents{
        width: 100%;
    }
    .contents:nth-child(1){ top: 10px;    }
    .contents:nth-child(2){ top: 230px;   }
    .contents:nth-child(3){ top: 315px;   }
    .contents:nth-child(4){ top: 520px;   }
    .contents:nth-child(5){ top: 590px;   }
    .contents:nth-child(6){ top: 680px;   }
    .contents:nth-child(7){ top: 900px;   }
}
/* 2단 */
@media (min-width:640px){
    .container-contents{
        height: 720px;
    }
    .contents{
        width: calc(100% / 2 - 1px);
    }
    .contents:nth-child(2n)     {left: calc(100% / 2);}
    .contents:nth-child(2n-1)   {left: 0;}
    .contents:nth-child(1){ top: 10px;     }
    .contents:nth-child(2){ top: 10px;     }
    .contents:nth-child(3){ top: 230px;   }
    .contents:nth-child(4){ top: 95px;   }
    .contents:nth-child(5){ top: 435px;   }
    .contents:nth-child(6){ top: 165px;   }
    .contents:nth-child(7){ top: 525px;   }
}
@media (min-width:1024px){
    .container-contents{
        height: 500px;
    }
    .contents{
        width: calc(100% / 3 - 1px);
    }
    .contents:nth-child(3n)     {left: calc(100% / 3 * 2);}
    .contents:nth-child(3n-1)   {left: calc(100% / 3);}
    .contents:nth-child(3n-2)   {left: 0;}
    .contents:nth-child(1){ top: 10px;     }
    .contents:nth-child(2){ top: 10px;     }
    .contents:nth-child(3){ top: 10px;   }
    .contents:nth-child(4){ top: 230px;   }
    .contents:nth-child(5){ top: 95px;   }
    .contents:nth-child(6){ top: 215px;   }
    .contents:nth-child(7){ top: 300px;   }
}
/* 컨텐츠1 */
.contents>.content1{ 
    height: 41px;
    padding: 10px 15px 11px 15px;
}
.contents>.content1>.inner-content1{
    height: 31px;
    border-bottom: 1px solid rgb(242, 242, 242);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-sky{
    background-color: rgb(129, 169, 219);
    font-weight: bold;
    color: white;
    text-align: center;
    height: 21px;
    padding: 0 5px;
    margin: 13px 10px 0 15px;
    font-size: 12px;
}
.btn-dropdown{
    float: right;
    margin: 10px 15px 0 0;
    cursor: pointer;
}
.btn-dropdown>i{
    font-size: 30px;
}
.realtime-search{
    width: calc(100% - 156px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 컨텐츠3 */
.contents.image-news{
    padding: 10px 10px 0 10px;
}
.contents.image-news>.row{
    height: 155px;
}
.contents.image-news>.row>.image-left{
    width: calc(50% - 5px);
    float: left;
    border: solid 1px black;
}
.contents.image-news>.row>.image-right{
    width: calc(50% - 5px);
    float: right;
    border: solid 1px black;
}
.row.up{
    height: 40px;
    border-bottom: 1px solid rgb(242, 242, 242);
    font-size: 0px;
}
.row.up *,
.row.down *,{
    font-size: 14px;
}
.row.down{
    height: 40px;
    border-top: 1px solid rgb(242, 242, 242);
    font-size: 0px;
}
.up-contents,
.down-contents{
    width: calc((100% - 4px) / 3);
    height: 39px;
    text-align: center;
    padding-top: 10px;
}
.border-right{
    border-right: solid 1px  rgb(242, 242, 242);
}
.border-left{
    border-left: solid 1px  rgb(242, 242, 242);
}
